---
import { ROUTES, PERSONAL_INFO } from '../consts';

const year = new Date().getFullYear();
---

<footer>
  <div class="mb-8 mt-16 flex flex-col items-center gap-6">
    <nav
      class="flex flex-wrap justify-center gap-x-8 gap-y-4 md:gap-x-12"
    >
      {ROUTES.map((route) => <a href={route.href}>{route.label}</a>)}
    </nav>


    <div class="text-center text-sm text-gray-400 dark:text-gray-500">
      © {year} {PERSONAL_INFO.name}
    </div>
  </div>
</footer>

<style>
  a {
    @apply text-gray-600 dark:text-gray-300 transition-colors hover:text-gray-900 dark:hover:text-white active:text-gray-900 dark:active:text-white;
  }
</style>
